@model List<CafeOrderManagementSystem.Application.Features.TableFeature.GetAllTable.TableDto>
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section" id="partialContainer">

   
</section>


<script>
     window.onload = function () {
      $.ajax({
            url: '/Home/HomePartialView',
            type: 'GET',
            success: function (result) {
                $('#partialContainer').html(result);
            }
        });
    }
</script>